.container.animated.mainContent
  .row
    .col.s12
      .card.white
        .card-content
          %span.card-title="All Courses Taught By #{@prof.name}"
          %table.centered
            %thead
              %tr
                %th{"data-field": "name"} Course
                %th{"data-field": "title"} Title
                %th{"data-field": "term"} Term
                %th{"data-field": "rating"} Rating (Out of 7)
            %tbody
              - @prof_courses.each do |p_course|
                %tr
                  - puts p_course.number
                  %td= link_to p_course.number, course_path(Course.find_by_number(p_course.number).id)
                  %td= p_course.name
                  %td= p_course.term
                  %td= p_course.rating
        .card-action
          %a{href: session[:return_to]} Back
.center-align
  %h3 Data Over Time
  %canvas#graph{:height => "400", :width => "600"}
%br
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"}
%script
  != "terms_and_ratings_j = #{@terms_and_ratings};"
= javascript_include_tag '/javascripts/prof_chart.js'



