.container.animated.mainContent
  .row
    .col.l6.m12
      .card.white.medium
        .card-content.scrollable
          %span.card-title Recommended Fall 2016 Courses
          - if @fall_length == 0
            %br
            It seems you cannot take any classes offered next semester. 
            Please go see your advisor.
          %table.centered.highlight
            %thead
              %tr
                %th{"data-field": "name"} Course
                %th{"data-field": "professor"} Professor(s)
                %th{"data-field": "average rating"} Rating
          %br
          .chip Courses You're Interested In
          %table.centered.highlight
            %tbody
              - @recommended_EECS_courses[:possible_fall].each do |course|
                %tr
                  %td= link_to course[0].number, course_path(course[0].id)
                  %td
                    - course[1].each do |professor|
                      - if professor.name == "TBA"
                        = "TBA"
                      - elsif course[1].index(professor) + 1 == course[1].length
                        = link_to(professor.name, professor_path(professor.id))
                      - else
                        = link_to(professor.name, professor_path(professor.id)) + ", "
                  %td= course[2]
          %br
          .chip.center-div The Best Alternative Courses
          %table.centered.highlight
            %thead.hide
              %tr
                %th{"data-field": "name"} Course
                %th{"data-field": "professor"} Professor(s)
                %th{"data-field": "average rating"} Rating
            %tbody
              - @recommended_EECS_courses[:backup_fall].each do |course|
                %tr
                  %td= link_to course[0].number, course_path(course[0].id)
                  %td
                    - course[1].each do |professor|
                      - if professor.name == "TBA"
                        = "TBA"
                      - elsif course[1].index(professor) + 1 == course[1].length
                        = link_to(professor.name, professor_path(professor.id))
                      - else
                        = link_to(professor.name, professor_path(professor.id)) + ", "
                  %td= course[2]
        .center-align.card-action-small.card-action
          %i.material-icons.small.animated-slow.tada.infinite arrow_drop_down
    .col.l6.m12
      .card.white.medium
        .card-content.scrollable
          %span.card-title Recommended Spring 2017 Courses
          - if @spring_length == 0
            %br
            It seems you cannot take any classes offered next spring. 
            Please go see your advisor.
          %table.centered.highlight
            %thead
              %tr
                %th{"data-field": "name"} Course
                %th{"data-field": "professor"} Professor(s)
                %th{"data-field": "average rating"} Rating
          %br
          .chip Courses You're Interested In
          %table.centered.highlight
            %tbody
              - @recommended_EECS_courses[:possible_spring].each do |course|
                %tr
                  %td= link_to course[0].number, course_path(course[0].id)
                  %td
                    - course[1].each do |professor|
                      - if professor.name == "TBA"
                        = "TBA"
                      - elsif course[1].index(professor) + 1 == course[1].length
                        = link_to(professor.name, professor_path(professor.id))
                      - else
                        = link_to(professor.name, professor_path(professor.id)) + ", "
                  %td= course[2]
          %br
          .chip.center-div The Best Alternative Courses
          %table.centered.highlight
            %thead.hide
              %tr
                %th{"data-field": "name"} Course
                %th{"data-field": "professor"} Professor(s)
                %th{"data-field": "average rating"} Rating
            %tbody
              - @recommended_EECS_courses[:backup_spring].each do |course|
                %tr
                  %td= link_to course[0].number, course_path(course[0].id)
                  %td
                    - course[1].each do |professor|
                      - if professor.name == "TBA"
                        = "TBA"
                      - elsif course[1].index(professor) + 1 == course[1].length
                        = link_to(professor.name, professor_path(professor.id))
                      - else
                        = link_to(professor.name, professor_path(professor.id)) + ", "
                  %td= course[2]
        .center-align.card-action-small.card-action
          %i.material-icons.small.animated-slow.tada.infinite arrow_drop_down
  .row
    .col.s12
      .card.white.medium
        .card-content.scrollable
          %span.card-title Recommended Fall 2016 Breadth Courses Taught by Distinguished Professors
          %table.centered.highlight
            %thead
              %tr
                %th{"data-field": "name"} Course
                %th{"data-field": "title"} Title
                %th{"data-field": "professor"} Professor
            %tbody
              - @recommended_breadth_courses.each do |course|
                %tr
                  %td= course[0]
                  %td= course[1]
                  %td= course[2]
