.container
  .row
    .col.s12
      .card.white
        .card-content
          %span.card-title="Prerequisites for #{@course.number}"
          %table.centered
            %thead
              %tr
                %th{"data-field": "name"} Course
                %th{"data-field": "title"} Title
                %th{"data-field": "taken"} Taken
            %tbody
              - @remaining_prereqs.each do |prereq|
                %tr
                  %td= link_to prereq[:number], course_path(prereq[:id])
                  %td= prereq[:title]
                  %td No
              - @finished_prereqs.each do |prereq|
                %tr
                  %td= link_to prereq[:number], course_path(prereq[:id])
                  %td= prereq[:title]
                  %td Yes
        .card-action
          %a{href: "/user"} Home
  .row
    .col.s12
      .card.white
        .card-content
          %span.card-title="Professors Who Have Taught #{@course.number}"
          %table.centered
            %thead
              %tr
                %th{"data-field": "name"} Professor
                %th{"data-field": "title"} Average Rating (Out of 7)
            %tbody
              - @professors.each do |professor|
                %tr
                  %td= link_to professor.name, professor_path(professor.id)
                  %td= professor.rating
        .card-action
          %a{href: "/user"} Home
