.container.animated.mainContent
  .row
    .col.s2
      .card.white
        .card-content.filters
          %span.card-title Course Filters
          %br
          .switch
            %label
              %input#cs{type: "checkbox", checked: "true"}
                %span.lever
                CS
          %br
          .switch
            %label
              %input#ee{type: "checkbox", checked: "true"}
                %span.lever
                EE
          %br
          .switch
            %label
              %input#upper{type: "checkbox", checked: "true"}
                %span.lever
                Upper Divs
          %br
          .switch
            %label
              %input#lower{type: "checkbox", checked: "true"}
                %span.lever
                Lower Divs
    .col.s10
      %form#edit-form{action: "/update", method: "post"}
        = hidden_field_tag :authenticity_token, form_authenticity_token
        .card.white
          .card-content
            %span.card-title Edit Your Courses
            %table.centered
              %thead
                %tr
                  %th{"data-field": "name"} Course
                  %th{"data-field": "title"} Title
                  %th{"data-field": "add"} Add?
                  %th{"data-field": "taken"} Taken?
              %tbody
                - @all_courses.each do |course|
                  %tr{class: @filter_map[course[:number]]}
                    %td= link_to course[:number], course_path(course[:id])
                    %td= course[:title]
                    %td
                      %input{type: "checkbox", class: "filled-in addBox", id: "#{course[:number]}-choice", :checked => (@user_classNames.include?(course[:number]) ? "checked" : nil), name: "classes[#{course[:number]}: #{course[:title]}]"}
                      %label{for: "#{course[:number]}-choice"}
                    %td
                      %input{type: "checkbox", class: "filled-in takenBox", id: "#{course[:number]}-taken", :checked => (@user_takenClassNames.include?(course[:number]) ? "checked" : nil), name: "taken_classes[#{course[:number]}: #{course[:title]}]"}
                      %label{for: "#{course[:number]}-taken"}
          .card-action
            %input.btn.blue.waves-effect.waves-light#save{type: "submit", value: "Save"}

= javascript_include_tag '/javascripts/edit.js'
