.container
  .row
    .col.s12
      .card.white
        .card-content
          %span.card-title="All Courses Taught By #{@prof.name}"
          %table.centered
            %thead
              %tr
                %th{"data-field": "name"} Course
                %th{"data-field": "title"} Title
                %th{"data-field": "term"} Term
                %th{"data-field": "rating"} Rating
            %tbody
              - @prof_courses.each do |p_course|
                %tr
                  - id = Course.find_by_number(p_course.number).id
                  %td= link_to p_course.number, "/classes/#{id}"
                  %td= p_course.name
                  %td= p_course.term
                  %td= p_course.rating
        .card-action
          %a{href: "/user"} Back