!!! 5
%html
  %head
    %title Great Course Guide

    = stylesheet_link_tag '/stylesheets/materialize'
    = stylesheet_link_tag '/stylesheets/animate.min'
    = stylesheet_link_tag '/stylesheets/awesomplete'
    = stylesheet_link_tag '/stylesheets/sweetalert'
    %link{href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet"}
    = javascript_include_tag '/javascripts/jquery.js'
    = csrf_meta_tags

  %body.grey.lighten-3
    %header
      .navbar-fixed
        %ul#profOptions.dropdown-content
          %li
            %a{href: "/professors"} All Professors
          %li
            %a{href: "/distProfs"} Distinguished Professors
        %nav.blue.darken-4
          .nav-wrapper.container
            %a.brand-logo{href: "/welcome"} Great Course Guide
            %a.button-collapse{"data-activates": "nav-mobile2"}
              %i.material-icons menu
            %ul#nav-mobile.right.hide-on-med-and-down
              %li
                %a{href: "/classes"} Classes
              %li
                %a.dropdown-button{"data-activates": "profOptions"}
                  Professors
                  %i.material-icons.right arrow_drop_down
              %li
                %a{href: "/logout"} Logout
            %ul#nav-mobile2.side-nav
              %li.bold.no-padding
                %a{href: "/classes"} Classes
              %li.bold.no-padding
                %ul.collapsible.collapsible-accordion
                  %li.bold.no-padding
                    %a.collapsible-header
                      Professors
                      %i.material-icons.right arrow_drop_down
                    %div.collapsible-body{style: "display: block"}
                      %ul
                        %li.bold.no-padding
                          %a{href: "/professors"} All Professors
                        %li.bold.no-padding
                          %a{href: "/distProfs"} Distinguished Professors
              %li.bold.no-padding
                %a{href: "/logout"} Logout
    %main
      = yield
    = javascript_include_tag '/javascripts/sweetalert.min.js'
    = javascript_include_tag '/javascripts/awesomplete.js'
    = javascript_include_tag '/javascripts/app.js'
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"}
