!!! 5
%html
  %head
    %title Great Course Guide
    = stylesheet_link_tag '/stylesheets/jquery-ui'
    = stylesheet_link_tag '/stylesheets/materialize'
    = stylesheet_link_tag '/stylesheets/animate.min'
    = stylesheet_link_tag '/stylesheets/awesomplete'
    = stylesheet_link_tag '/stylesheets/sweetalert'
    %link{href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet"}
    = javascript_include_tag '/javascripts/jquery.js'
    = javascript_include_tag '/javascripts/jquery-ui.js'
    = csrf_meta_tags

  %body.grey.lighten-3
    %header
      .navbar-fixed
        %ul#profOptions.dropdown-content
          %li
            %a{href: "/professors"} All EECS Professors
          %li
            %a{href: "/professors/distinguished"} Award-Winning Professors
        %ul#courseOptions.dropdown-content
          %li
            %a{href: "/courses"} All Courses
          %li
            %a{href: "/edit"} Edit Courses
          %li
            %a{href: "/courses/compare"} Compare Courses
        %nav.blue.darken-4
          .nav-wrapper.container
            %a.brand-logo{href: "/welcome"} Great Course Guide
            %a.button-collapse{"data-activates": "nav-mobile2"}
              %i.material-icons menu
            %ul#nav-mobile.right.hide-on-med-and-down
              %li
                %a{href: "/courses/schedule"}
                  %i.material-icons.left today
                  Schedule
              %li
                %a.dropdown-button{"data-activates": "courseOptions"}
                  %i.material-icons.left subject
                  Courses
                  %i.material-icons.right arrow_drop_down
              %li
                %a.dropdown-button{"data-activates": "profOptions"}
                  %i.material-icons.left group
                  Professors
                  %i.material-icons.right arrow_drop_down
              %li
                %a#logout{href: "/logout"} Logout

            %ul#nav-mobile2.side-nav
              %li.bold.no-padding
                %a{href: "/courses/schedule"}
                  %i.material-icons.left today
                  Schedule
              %li.bold.no-padding
                %ul.collapsible.collapsible-accordion
                  %li.bold.no-padding
                    %a.collapsible-header
                      %i.material-icons.left subject
                      Courses
                      %i.material-icons.right arrow_drop_down
                    %div.collapsible-body{style: "display: block"}
                      %ul
                        %li.bold.no-padding
                          %a{href: "/courses"} All Courses
                        %li.bold.no-padding
                          %a{href: "/edit"} Edit Courses
                        %li.bold.no-padding
                          %a{href: "/courses/compare"} Compare Courses
              %li.bold.no-padding
                %ul.collapsible.collapsible-accordion
                  %li.bold.no-padding
                    %a.collapsible-header
                      %i.material-icons.left group
                      Professors
                      %i.material-icons.right arrow_drop_down
                    %div.collapsible-body{style: "display: block"}
                      %ul
                        %li.bold.no-padding
                          %a{href: "/professors"} All EECS Professors
                        %li.bold.no-padding
                          %a{href: "/professors/distinguished"} Award-Winning Professors
              %li.bold.no-padding
                %a{href: "/logout"} Logout
    %main
      = yield
    = javascript_include_tag '/javascripts/sweetalert.min.js'
    = javascript_include_tag '/javascripts/awesomplete.js'
    = javascript_include_tag '/javascripts/app.js'
    = javascript_include_tag '/javascripts/spa.js'
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"}
