!!! 5
%html 
  %head
    %title Great Course Guide
    = stylesheet_link_tag '/stylesheets/materialize'
    = stylesheet_link_tag '/stylesheets/animate.min'
    = stylesheet_link_tag '/stylesheets/login'
    = csrf_meta_tags
  %body
    .fullscreen-bg{style: "z-index: -10"}
      %video.fullscreen-bg__video{poster: "/media/Berkeley.png", autoplay: true, loop: true}
        %source{src: "/media/Berkeley.webm", type: "video/webm"}
        %source{src: "/media/Berkeley.ogg", type: "video/ogg"}
        %source{src: "/media/Berkeley.mp4", type: "video/mp4"}
    #wrapper
      %main.container.center-align.vertical-align#full-size
        .row.screen-center.animated.fadeIn.slow-animation.delay-animation-quarter-1
          .col.s12
            %h1.white-text Great Course Guide
        .row.animated.fadeIn.slow-animation.delay-animation-half-1
          .col.s12
            %a.waves-effect.waves-light.btn-large.blue#login-button{href: "/user"} Login
    = javascript_include_tag '/javascripts/jquery'
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"}
